.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin: 15px auto 0 auto;
    max-width: 340px;
    &__prev,
    &__next {
        width: 52px;
        height: 52px;
        background-color: #f1f4f7;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 7px;
        > a {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
    }
    &__prev {
        background-image: url("./../../../public/img/pagination/arrow-right.svg");
    }
    &__next {
        background-image: url("./../../../public/img/pagination/arrow-left.svg");
    }
    &__page {
        > a {
            font-weight: 600;
        }
        color: rgba(31, 42, 55, 0.5);
    }
    &__active {
        color: rgba(31, 42, 55, 1);
    }
    &__disabled {
        opacity: 0.75;
    }
}