.addition {
    border: 1px solid #cdd5dc;
    border-radius: 7px;
    padding: 9px;
    display: inline-flex;
    &--cart {
        background-color: #3173B0;
        border: none;
        cursor: pointer;
        &:hover {
            opacity: .75;
        }
    }
    &--sale, &--close {
        background-color: #EF5C5C;
        border: none;
    }
    &--close {
        cursor: pointer;
        &:hover {
            opacity: .75;
        }
    }
    &__img {
        pointer-events: none;
        display: block;
    }
}
