.containerLanding {
    max-width: 1380px;
    padding: 0 30px;
    margin: 0 auto;
}

.titleLanding {
    font-size: 44px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 48px;
    text-align: center;
}

.bannerLanding {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./../../../public/img/landing/banner-bg.png") no-repeat center center / cover;
    max-height: 650px;
    .containerLanding {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__info {
        max-width: 598px;
        &-title {
            color: #fff;
            font-size: 44px;
            font-weight: 800;
            line-height: normal;
        }
        &-text {
            color: #fff;
            font-size: 18px;
            line-height: 28px;
            margin: 16px 0 36px;
        }
        &-link {
            padding: 0 50px;
            font-weight: 600;
            height: 52px;
            color: #fff;
            border-radius: 7px;
            border: 2px solid #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: #fff;
                color: #3181d2;
            }
        }
    }
    &__images {
        padding: 125px 0 95px;
        &-img {
            margin-right: -20px;
        }
    }
}

.advantagesLanding {
    padding: 150px 0;
    background-color: #fbfcfd;
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-between;
        &-item {
            flex: 1 0 32%;
            padding: 30px;
            border-radius: 30px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            &--blue {
                background: rgba(49, 115, 176, 0.05);
                .advantagesLanding__content-item-paint {
                    background: rgba(49, 115, 176, 1);
                }
            }
            &--green {
                background: rgba(49, 188, 72, 0.05);
                .advantagesLanding__content-item-paint {
                    background: rgba(49, 188, 72, 1);
                }
            }
            &--purple {
                background: rgba(168, 108, 216, 0.05);
                .advantagesLanding__content-item-paint {
                    background: rgba(168, 108, 216, 1);
                }
            }
            &-info {
                &-title {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: normal;
                }
                &-text {
                    margin-top: 10px;
                    line-height: 150%;
                    font-size: 16px;
                }
            }
            &-paint {
                border-radius: 12px;
                display: inline-block;
                padding: 13px;
                position: relative;
                top: -10px;
                right: -10px;
            }
        }
    }
    &__extra {
        padding: 72px 132px 72px 448px;
        background: url("./../../../public/img/landing/extra-bg.png") no-repeat center center / cover, #3173b0;
        background-blend-mode: screen;
        margin-top: 150px;
        border-radius: 60px;
        position: relative;
        * {
            color: #fff;
        }
        &-img {
            position: absolute;
            top: -86px;
            bottom: 0;
            left: 90px;
            z-index: 1;
        }
        &-title {
            margin-bottom: 48px;
            font-size: 44px;
            font-weight: 800;
            line-height: normal;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            &-item {
                &-number {
                    font-size: 60px;
                    font-weight: 700;
                    line-height: normal;
                }
                &-opinion {
                    font-size: 16px;
                    line-height: 150%;
                    position: relative;
                    display: inline-block;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: #fff;
                        width: 50px;
                        height: 1.5px;
                        top: 50%;
                        transform: translateY(-50%) translateX(100%);
                        right: -10px;
                    }
                }
            }
        }
    }
}

.docsLanding {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__main {
        flex-grow: 1;
        &-title {
            font-size: 48px;
            font-weight: 800;
            margin-top: 60px;
        }
        &-text {
            margin-top: 20px;
            font-size: 16px;
            line-height: 150%;
        }
    }
    .footerLanding {
        flex-shrink: 0;
    }
}

.tarifs {
    background: rgba(49, 115, 176, 0.05);
    padding: 80px 0;
    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        &-item {
            border-radius: 30px;
            background: #fff;
            box-shadow: 0px 40px 40px 0px rgba(31, 42, 55, 0.03);
            padding: 30px;
            &-title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-size: 24px;
                font-weight: 700;
                line-height: normal;
            }
            &-opinion {
                text-align: center;
                font-size: 16px;
                line-height: 150%;
                margin: 10px 0 15px;
            }
            &-list {
                &-item {
                    padding: 17px 0 17px 30px;
                    border-top: 1px solid rgba(31, 42, 55, 0.05);
                    border-bottom: 1px solid rgba(31, 42, 55, 0.05);
                    position: relative;
                    line-height: 130%;
                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        background-image: url("../../../public/img/landing/checkmark.svg");
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
            &-price {
                margin: 15px 0;
                display: flex;
                align-items: flex-start;
                gap: 10px;
                justify-content: center;
                * {
                    line-height: normal;
                }
                &-main {
                    color: #3173b0;
                    font-size: 24px;
                    font-weight: 700;
                }
                &-addition {
                    color: #ef5c5c;
                    text-decoration: line-through;
                }
            }
        }
    }
}

.feedbacks {
    padding: 125px 0 215px;
    &__content {
        position: relative;
        .swiper-pagination {
            bottom: 0px;
            margin-top: 48px;
            position: relative;
            &-bullet {
                width: 24px;
                height: 2px;
                background-color: #CDD5DC;
                opacity: unset;
                border-radius: unset;
                &-active {
                    background-color: #3173B0;
                }
            }
        }
        &-prev, &-next {
            background-color: #F1F5F9;
            border-radius: 7px;
            width: 52px;
            height: 52px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 85px;
            img {
                display: block;
                width: 24px;
                height: 24px;
            }
        }
        &-prev {
            left: -76px;
        }
        &-next {
            right: -76px;
        }
        &-feedback {
            border-radius: 30px;
            background: rgba(49, 115, 176, 0.05);
            padding: 30px;
            display: flex;
            align-items: center;
            gap: 20px;
            &-avatar {
                border-radius: 12px;
                position: relative;
                max-width: 165px;
                max-height: 165px;
                video {
                    border-radius: 12px;
                    object-fit:cover;
                    width: 165px;
                    height: 165px;
                }
                &-play {
                    position: absolute;
                    background-color: #3173B0;
                    border-radius: 100%;
                    bottom: 10px;
                    left: 10px;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        opacity: .9;
                    }
                }
            }
            &-info {
                &--mobile {
                    display: none;
                }
                &-title, &-tag {
                    line-height: normal;
                }
                &-title {
                    font-size: 15px;
                    font-weight: 600;
                }
                &-tag {
                    color: #3173B0;
                    font-size: 12px;
                    margin: 4px 0 10px;
                }
                &-text {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
}

@media(max-width: 1520px) {
    .feedbacks {
        .containerLanding {
            max-width: 645px;
        }
    }
}

@media(max-width: 1350px) {
    .bannerLanding {
        max-height: unset;
        .containerLanding {
            flex-direction: column;
            margin-bottom: -110px;
        }
        &__info {
            margin-top: 50px;
            text-align: center;
            margin-bottom: 30px;
            &-title {
                font-size: 34px;
            }
            &-text {
                font-size: 16px;
                margin: 16px 0;
            }
        }
        &__images {
            padding: 0;
        }
    }
    .advantagesLanding {
        padding: 100px 0;
        &__extra {
            margin-top: 100px;
            padding: 42px 132px 42px 448px;
            &-title {
                font-size: 34px;
                margin-bottom: 20px;
            }
            &-items {
                flex-direction: column;
                gap: 20px;
                &-item {
                    &-number {
                        font-size: 50px;
                    }
                }
            }
            &-img {
                left: 60px;
                top: -50px;       
            }
        }
    }
}

@media(max-width: 875px) {
    .titleLanding {
        font-size: 34px;
        margin-bottom: 28px;
    }
    .advantagesLanding {
        &__extra {
            padding: 42px 0 42px 50vw;
            &-img {
                left: 40px;     
            }
        }
    }
    .tarifs {
        &__items {
            flex-wrap: wrap;
            gap: 10px;
            &-item {
                flex: 0 1 33%;
                padding: 20px;
                &-title {
                    font-size: 20px;
                    gap: 5px;
                    > svg {
                        width: 20px;
                        height: 20px;
                    }
                }
                &-opinion {
                    font-size: 13px;
                }
            }
        }
    }
    .feedbacks {
        padding: 50px 0 155px;
    }
}

@media(max-width: 769px) {
    .feedbacks {
        &__content {
            &-prev, &-next {
                display: none;
            }
        }
    }
}

@media(max-width: 735px) {
    .bannerLanding {
        &__images {
            &-img {
                height: 357px;
            }
        }
    }
    .advantagesLanding {
        &__extra {
            border-radius: 0px;
            margin-left: -30px;
            margin-right: -30px;
            padding: 45px 0 45px 30px;
            &-img {
                left: unset;
                right: 0;
                top: 25px;
                transform: translateX(30%);
                height: 450px;
            }
        }
    }
}

@media(max-width: 620px) {
    .feedbacks {
        .swiper-pagination {
            margin-top: 20px;
        }
        &__content {
            &-feedback {
                > .feedbacks__content-feedback-avatar {
                    display: none;
                }
                &-avatar, video {
                    width: 65px;
                    height: 65px;
                    border-radius: 6px;
                    &-play {
                        left: -8px;
                        bottom: -8px;
                        width: 24px;
                        height: 24px;
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                &-info {
                    display: none;
                    &-tag {
                        margin-bottom: 0;
                    }
                    &-box {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 10px;
                    }
                    &--mobile {
                        display: block;
                    }
                }
            }
        }
    }
}

@media(max-width: 520px) {
    .titleLanding {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .bannerLanding {
        &__images {
            position: relative;
            left: 12%;
            &-img {
                position: relative;
                left: 12%;
            }
        }
    }
    .advantagesLanding {
        padding-bottom: 50px;
        &__content {
            gap: 10px;
            &-item {
                &-info {
                    &-title {
                        font-size: 21px;
                    }
                    &-text {
                        font-size: 15px;
                    }
                }
                &-paint {
                    padding: 11px;
                }
            }
        }
        &__extra {
            margin-top: 50px;
            &-title, &-items {
                max-width: 186px;
            }
            &-items {
                &-item {
                    &-number {
                        font-size: 40px;
                    }
                    &-opinion {
                        font-size: 15px;
                        &::after {
                            width: 20px;
                        }
                    }
                }
            }
            &-title {
                font-size: 28px;
            }
            &-img {
                top: 20px;
            }
        }
    }
    .tarifs {
        padding: 40px 0;
        &__items {
            &-item {
                flex: 1 1 100%;
            }
        }
    }
}