.seeAllButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &__btn {
        border: 2px solid #3173b0;
        border-radius: 7px;
        padding: 18px 50px;
        font-weight: 600;
        &:hover {
            color: #27659e;
            border-color: #27659e;
        }
    }
}
