.adminPanelSettings {
    &__billing {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        input {
            max-width: unset;
            width: 300px;
            &::placeholder {
                color: #A6ACBE;
            }
        }
    }
    &__inputs {
        input {
            max-width: unset;
            width: 300px;
        }
    }
    &__rate {
        display: flex;
        justify-content: space-between;
        &-block {
            &-title {
                margin-bottom: 10px;
                line-height: 18px;
            }
        }
    }
    &__categories {
        display: flex;
        align-items: flex-start;
        column-gap: 50px;
        &-block {
            &-title {
                font-weight: 700;
                line-height: 22px;
                font-size: 18px;
                margin-bottom: 20px;
            }
            &-content {
                display: flex;
                align-items: flex-start;
                column-gap: 10px;
                &-subblock {
                    width: 300px;
                    &-add {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        .input {
                            width: 100%;
                            max-width: unset;
                            &::placeholder {
                                color: #A6ACBE;
                            }
                        }
                        .button {
                            margin: unset;
                            &__content {
                                width: 100%;
                            }
                        }
                    }
                    &-title {
                        line-height: 18px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1750px) {
    .adminPanelSettings {
        &__rate {
            .list {
                &__item {
                    padding: 6px 20px;
                    width: 260px;
                }
            }
        }
    }
}

@media(max-width: 1650px) {
    .adminPanelSettings {
        &__rate {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
        }
        &__categories {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media(max-width: 880px) {
    .adminPanelSettings {
        &__categories {
            &-block {
                &-content {
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}

@media(max-width: 420px) {
    .adminPanelSettings {
        &__categories {
            &-block {
                width: 100%;
                &-content {
                    &-subblock {
                        width: 100%;
                    }
                }
            }
            .list {
                &__item {
                    width: 100% !important;
                }
            }
        }
        &__rate {
            &-block {
                width: 100%;
            }
            .list {
                &__item {
                    width: 100% !important;
                }
            }
        }
        &__billing, &__inputs {
            input {
                width: 100%;
            }
        }
    }
}