.adminPanelSettings {
    &__inputs {
        input {
            max-width: unset;
            width: 300px;
        }
    }
    &__rate {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &-block {
            &-title {
                margin-bottom: 10px;
                line-height: 18px;
            }
        }
    }
    &__categories {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 70px;
        &-block {
            &-title {
                font-weight: 700;
                line-height: 22px;
                font-size: 18px;
                margin-bottom: 20px;
            }
            &-content {
                display: flex;
                align-items: flex-start;
                column-gap: 10px;
                &-subblock {
                    width: 300px;
                    .list {
                        &__item {
                            &-boxTitle {
                                p {
                                    max-width: min-content;
                                }
                            }
                        }
                    }
                    &-add {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        .input {
                            width: 100%;
                            max-width: unset;
                            &::placeholder {
                                color: #A6ACBE;
                            }
                        }
                        .button {
                            margin: unset;
                            &__content {
                                width: 100%;
                            }
                        }
                    }
                    &-title {
                        line-height: 18px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    &__dates {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        &-plus {
            cursor: pointer;
            &:hover {
                opacity: .75;
            }
        }
        .react-datepicker-wrapper {
            height: 52px;
            input {
                padding: 0 18px;
                width: 150px;
                text-align: center;
            }
        }
    }
    &__landing {
        display: flex;
        flex-direction: column;
        gap: 30px;
        textarea {
            width: 100%;
            border: 1px solid #D6DCF1;
            border-radius: 7px;
            height: 100px;
            padding: 18px 24px;
            line-height: 130%;

            &::placeholder {
                color: #D6DCF1;
            }

            &:focus {
                border-color: #bcc4e1;
            }
        }
        &-item {
            &-banner {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 100%;
                input {
                    width: 100%;
                    max-width: unset;
                }
            }
            &-numbers {
                display: flex;
                flex-direction: column;
                gap: 12px;
                > input {
                    max-width: 300px;
                }
                &-box {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    margin-top: 20px;
                    &-item {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        max-width: 300px;
                        text-align: center;
                        input {
                            width: 100%;
                            max-width: unset;
                        }
                    }
                    h6 {
                        font-size: 24px;
                        font-weight: 800;
                    }
                }
            }
            &-tarifs {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
                &-item {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    max-width: 500px;
                    width: 100%;
                    gap: 10px;
                    input {
                        max-width: unset;
                        width: 100%;
                    }
                }
                h6 {
                    font-size: 24px;
                    font-weight: 800;
                }
            }
            &-footer {
                h6 {
                    font-size: 24px;
                    font-weight: 800;
                }
                input {
                    max-width: unset;
                }
                display: flex;
                flex-direction: column;
                gap: 30px;
                &-preview {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    max-width: 500px;
                    width: 100%;
                }
                &-main {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &-littleRows {
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        input {
                            max-width: 300px;
                            width: 100%;
                        }
                    }
                    &-bigRows {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                }
            }
            &-title {
                font-weight: 700;
                font-size: 24px;
                opacity: .7;
                margin-bottom: 20px;
            }
            &-advantages {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                &-advantage {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    align-items: center;
                    &-number {
                        font-size: 24px;
                        font-weight: 800;
                    }
                    input {
                        width: 100%;
                        max-width: unset;
                    }
                }
            }
        }
    }
}

@media(max-width: 1750px) {
    .adminPanelSettings {
        &__rate {
            .list {
                &__item {
                    padding: 6px 20px;
                    width: 260px;
                }
            }
        }
    }
}

@media(max-width: 1650px) {
    .adminPanelSettings {
        &__rate {
            gap: 20px;
            justify-content: flex-start;
        }
        &__categories {
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media(max-width: 880px) {
    .adminPanelSettings {
        &__categories {
            &-block {
                &-content {
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }
}

@media(max-width: 420px) {
    .adminPanelSettings {
        &__categories {
            &-block {
                width: 100%;
                &-content {
                    &-subblock {
                        width: 100%;
                    }
                }
            }
            .list {
                &__item {
                    width: 100% !important;
                }
            }
        }
        &__rate {
            &-block {
                width: 100%;
            }
            .list {
                &__item {
                    width: 100% !important;
                }
            }
        }
        &__inputs {
            input {
                width: 100%;
            }
        }
    }
}