.layoutBlock {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 0.5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        &--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--showMobileFilters {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            margin-bottom: 20px;
            cursor: pointer;
            &:hover {
                opacity: .75;
            }
            &-text {
                color: #3173b0;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    left: 0;
                    height: 1px;
                    background-color: #3173B0;
                    bottom: -3px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .layoutBlock {
        padding: 20px;
    }
}